<include file="Public:header" />
<div id="main-content">
	<div id="top-alert" class="fixed alert alert-error" style="display: none;">
		<button class="close fixed" style="margin-top: 4px;">&times;</button>
		<div class="alert-content">Warnings</div>
	</div>
	<div id="main" class="main">
		<div class="main-title-h">
			<span class="h1-title">Wallet Details</span>
			<span class="h2-title">>><a href="{:U('Coin/index')}">Currency list</a></span>
		</div>

		<div class="cf">
			<div class="search-form fr cf">
				<div class="sleft">
				
				
				</div>
			</div>
		</div>
		<div class="data-table table-striped">
			<table class="">
				<thead>
					<tr>
						<th class="row-selected row-selected"><input class="check-all" type="checkbox" /></th>
						<th class="">ID</th>						
						<th class="">label(Username)</th>
						<th class="">Wallet Balance</th>
						<th class="">Wallet address</th>
						<th class="">Stations in balance</th>
						<th class="">Site Address</th>
						
					</tr>
				</thead>
				<tbody>
					<notempty name="list"> 
					
					<volist name="list" id="vo">
					<tr>
						<td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}" /></td>
						<td>{$vo.id}</td>	
						<td>{$key}</td>		
						<td>{$vo.num}</td>
						<td>{$vo.addr}</td>
						<td>Available {$vo.xnb}<br>Freeze {$vo.xnbd}<br>Total {$vo.zj}</td>
						<td>{$vo.xnbb}</td>
									
					</tr>
					</volist> <else />
					<td colspan="12" class="text-center">No contents!</td>
					</notempty>
				</tbody>
			</table>
			<div class="page">
				<div>{$page}</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	//Highlight the main navigation
	$('.config-box').addClass('current');
	$('.config-coin').addClass('current');
</script>
<include file="Public:footer" />