<div class="step2 f_body">
					
					<table class="f_table" id="investLog_content">
						<thead>
						<tr>
							<th>{:l('Time')}</th>
							<th>{:l('Txid')}</th>
							<th>{:l('Payee')}</th>
							<th>{:l('Coinname')}</th>
							<th>{:l('Amount')}</th>
							<th>{:l('Received')}</th>
							<th>{:l('STATUS')}</th>
						</tr>
						</thead>
						<tbody>
						
                        <volist name="list" id="vo">
                            <tr>
                                <td>{$vo.addtime|addtime}</td>
								<td>{$vo['txid']}</td>
								<td>{$vo['email']}</td>
                                <td>{$vo.coinname}</td>
                                <td>{$vo['num']|NumToStr}</td>
                                <td>{$vo['mum']|NumToStr}</td>
                                <td>
                                    <eq name="vo.status" value="1">
                                        <font color="#23a800">{:l('INTO_SUCCESS')} </font>
                                        <else/>
                                        <font color="red">{:l('PENDING')}</font>
                                    </eq>
                                </td>
                            </tr>
                        </volist>
						
						
						</tbody>
					</table>
					<div class="pages"></div>
				</div>