<notempty name="list_yure">	
<table class="table table-bordered table-striped table-condensed table-hover" id="faucettable">
<thead>
<tr>
<th>{:l('Name')}</th>
<th>{:l('Coin')}</th>
<th>{:l('Payout Amount')}</th>
<th>{:l('Start Date')}</th>
<th>{:l('Time interval')}</th>
<th>&nbsp;</th>
</tr>
</thead>
<tbody>
				<volist name="list_yure" id="vo">				
						<tr>
						<td>{$vo.name}</td>
						<td>{$vo.coinname}</td>
						<td>{$vo.buycoin}{$vo['price']*1}</td>
						<td>{$vo.time}</td>
						<td>{$vo.tian} Hours</td>
						<td><a class="btn btn-block btn-info" onclick="buy_up({$vo.id})" href="#faucettable">{:l('Claim')}</a></td>
						</tr>
				</volist>
</tbody>
</table>