<include file="Public:header" />
		<!-- Page content -->
		<div class="page-container">	
	
<include file="User:left" />

		<!-- Main content -->
			<div class="panel panel-flat">
			<div class="panel-heading">
				<h1 class="panel-title">{:l('LOGIN_PASSWORD')}<span>
					<a class="right" onclick="$('#hints').slideToggle();">
					<i class="fa fa-hand-o-right move fz_14 mr5"></i><span class="fz_12 move">{:l('VIEW_DESCRIPTION')}</span></a>
											</span>
				</h1>
			</div>
			<div id="hints" class="mytips" style="display:none;">
				
				<notempty name="prompt_text">
					<p>{$prompt_text}</p>		
				</notempty>		
			</div>
			<div class="panel-body ">
			<div class="alert alert-info no-border">
									<button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
									<i class="fa fa-check mr5"></i>{:l('PLEASE_LOGIN_PASSWORD_REGULARL')}
							    </div>
									
				<dl>
					<dt>{:l('OLD_PASSWORD')}</dt>
					<dd>
						<input type="password" id="oldpassword" class="texts" tabindex="1">
						<a href="/Login/findpwd" class="ml5 btn btn-xs btn-warning">{:l('FORGET')}?</a>
					</dd>
				</dl>
				<dl>
					<dt>{:l('NEW_LOGIN_PASSWORD')}</dt>
					<dd>
						<input type="password" id="newpassword" class="texts" tabindex="2">
					</dd>
				</dl>
				<dl>
					<dt>{:l('CONFIRM_PASSWORD')}</dt>
					<dd>
						<input type="password" id="repassword" class="texts" tabindex="3">
					</dd>
				</dl>
				<dl>
					<dt></dt>
					<dd>
						<input type="button" tabindex="4" class="btns2" value="{:l('Submit')}" onclick="password_up()">
					</dd>
				</dl>
			</div>
		
	</div>
</div>

<script>
var hints = "0";
					if(hints == 1){
						$('#hints').show();
	}
	function password_up() {
		var oldpassword = $('#oldpassword').val();
		var newpassword = $('#newpassword').val();
		var repassword  = $('#repassword').val();

		if (oldpassword == '' || oldpassword == null) {
			layer.tips("{:l('PLEASE_ENTER_YOUR_OLD_PASSWORD')}", '#oldpassword', {tips: 2});
			return false;
		}
		if (newpassword == '' || newpassword == null) {
			layer.tips("{:l('PLEASE_ENTER_A_NEW_PASSWORD')}", '#newpassword', {tips: 2});
			return false;
		}
		if (repassword != newpassword) {
			layer.tips("{:l('CONFIRM_PASSWORD_ERROR')}", '#repassword', {tips: 2});
			return false;
		}

		$.post("/User/uppassword_qq", {
			oldpassword: oldpassword,
			newpassword: newpassword,
			repassword:repassword
		}, function (data) {
			if (data.status == 1) {
				layer.msg(data.info, {icon: 1});
				if (data.url) {
					window.location = data.url;
				} else {
					window.location.reload();
				}

			} else {
				layer.msg(data.info, {icon: 2});
				if (data.url) {
					window.location = data.url;
				}
			}
		}, 'json');
	}

	$('.user_password').addClass('active');

	if ($("#user_box").length > 0) {
		$('#user_box').addClass('active');
	} else {
		$('#index_box').addClass('active');
	}
	$('.finan_index').addClass('active');
</script>
<include file="Public:footer" />